<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="213.142.130.25" />
		<add key="Database" value="" />
		<add key="Uid" value="" />
		<add key="Password" value="" />
		<add key="Port" value="3306" />
		<add key="Timeout" value="5" />
		<add key="SMTPHost" value="" />
		<add key="SMTPPort" value="" />
		<add key="SMTPUserName" value="" />
		<add key="SMTPPassword" value="" />
		<add key="SMTPUseSSL" value="False" />
		<add key="UseLogFile" value="False" />
		<add key="LogFilePath" value="C:\" />
		<add key="CC" value="" />
		<add key="BCC" value="" />
		
	</appSettings>
</configuration>